TARGET_MHD_MODEL_SCHEMA_URI=https://metabolomicshub.github.io/mhd-model/schemas/v0_1/common-data-model-v0.1.schema.json
TARGET_MHD_MODEL_MS_PROFILE_URI=https://metabolomicshub.github.io/mhd-model/schemas/v0_1/common-data-model-v0.1.ms-profile.json
TARGET_MHD_MODEL_LEGACY_PROFILE_URI=https://metabolomicshub.github.io/mhd-model/schemas/v0_1/common-data-model-v0.1.legacy-profile.json
DEFAULT_DATASET_LICENCE_URL=https://creativecommons.org/publicdomain/zero/1.0
